<div id='container'>
  <h1>Links</h1>
  <div class='navigation'>
  <ul ng-controller="AuthController">
      <li><a href='#/links' class='index'>All Links</a></li>
      <li><a href='#/shorten' class='create'>Shorten</a></li>
      <li><a href='#/signin' ng-click="signout()" class='signout'>Sign Out</a></li>
    </ul>
  </div>
  <div id='container'></div>
  <ul>
    <li class="link" ng-repeat="link in data.links">
      <img src="../assets/redirect_icon.png">
      <div class="visits">
        <span class="count">{{ link.visits }}</span>Visits
      </div>
      <div class="title">{{ link.title }}</div>
      <div class="original">{{ link.url }}</div>
      <a href="{{baseUrl}}/{{link.code}}">{{baseUrl}}/{{link.code}}</a>
    </li>
  </ul>
</div>
